.root {
  width: 100%;
  padding-left: 200px;
}

.textblock {
  display: flex;
  flex-direction: column;
  align-items: left;

  &__title {
    font-size: 1.5rem;
    color: #00b9eb;
    font-weight: bold;
  }

  &__divider {
    width: 30px;
    height: 4px;
    background: #f27c07;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__content {
    font-size: 0.9rem;
    color: #fff;
  }
}
